<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="parentDataSource" abstract="true" class="org.h2.jdbcx.JdbcDataSource" >
        <property name="URL" value="jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"/>
        <property name="user" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="userDataSource" parent="parentDataSource">
        <property name="URL" value="jdbc:h2:mem:userdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"/>
    </bean>

    <bean id="productDataSource" parent="parentDataSource">
        <property name="URL" value="jdbc:h2:mem:productdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"/>
    </bean>

</beans>